
  @import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Lato:wght@300;400;700;900&family=Open+Sans:ital,wght@0,700;0,800;1,400&family=Poppins:wght@300;400;500;600;700;800&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700&display=swap');



*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* Nav Part */
.nav-container{
    max-width: 1400px;
    min-height: 60px;
    display: flex;
}
.logo-container{
    width: 50%;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-container{
    width: 50%;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-container a{
    text-decoration: none;
    margin-right: 20px;
}
.logo-image{
    width: 80px;
    height: 40px;
}
.logo-text{
    font-size: 45px;
    font-weight: 700;
}
.span-color{
    color: #FF42A5;
}
.follow{
    background-color: rgba(11, 2, 35, 0.10);
    border-radius: 10px;
    padding: 5px 10px;
}
.fa-brands{
    padding: 5px;
}

/* Bannar Part */
.bannar-container{
    max-width: 1400px;
    min-height: 400px;
    margin-top: 25px;
    display: flex;
    /* border: 2px solid red; */
}
.bannar-text{
    width: 50%;
    min-height: 400px;
    /* border: 2px solid green; */
    background-image: url("images/Group\ 14.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    
}
.bannar-text h1{
    text-align: left;
    margin-left: 50px;
    text-align: center;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background-image: linear-gradient( #F948B2 0%, #8758F1 100%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    margin-bottom: 10px;
    

}
.bannar-text h2{
    margin-top: 100px;
    text-align: left;
    margin-left: 150px;
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    
}

.bannar-text p{
    text-align: left;
    margin-left: 150px;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;

    
}
.btn-red{
    margin-left: 150px;
    background-color: #FF42A5;
    color: white;
    padding: 20px 40px;
    border-radius: 40px;
    border: none;
    
}
.btn-skyblue{
    background-color: #4EC5F7;
    color: white;
    padding: 20px 40px;
    border-radius: 40px;
    border: none;
    

}
.bannar-image{
    width: 50%;
    min-height: 400px;

    
}
.bannar-image img{
    width: 100%;
    height: 100%;
}


/* Gamer Part */
.gamer-container{
    max-width: 1400px;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.gamer-image{
    width: 35%;
    min-height: 200px;
    

}
.gamer-text{
    width: 35%;
    min-height: 200px;
    text-align: right;
    

}
.gamer-image img{
    width: 100%;
}
.gamer-text> h3{
font-size: 48px;
font-weight: 700;
background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
color: transparent;
background-clip: text;
-webkit-background-clip: text;
color: transparent;

}
.gamer-text>p{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* Video Part */
.video-image{
    width: 70%;
    margin: 0 auto;
}
.video-image h2{
    text-align: center;
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
}
.span-webkit{
background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
color: transparent;
background-clip: text;
-webkit-background-clip: text;
color: transparent;

}

.video-image p{
    text-align: center;
    color: #534C64;
    font-size: 12px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
}
.video-image-container{
    min-height: 200px;
    display: flex;
    justify-content: space-between;
}
.box{
    width: 22%;
    position: relative;
    
    
}
.box img{
    width: 100%;
    height: 200px;
    z-index: 1;
    
}
 
.overlay{
    text-align: center;
    position: absolute;
    top: 80px;
    left: 60px;
    z-index: 2;
    
} 

.box img:hover{
    border: 5px solid #F948B2;
    border-radius: 15px;
    opacity: 0.4;
    
}


.box p{
    color: #534C64;
    font-size: 12px;
    font-weight: 500;
    text-align: left;
}


/* Play Part CSS */
.play-container{
    width: 70%;
    margin: 50px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.play-image{
    width: 40%;
    height: 320px;
    position: relative;
    
    
}
.big-image{
    z-index: 1;
    width: 100%;
}

.small-image{
    z-index: 2;
    width: 40%;
    position: absolute;
    right: -20%;
    bottom: -20%;

}


.play-text{
    width: 40%;
    height: 150px;

}
.play-text>h3{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
}
.play-text>p{
    color: #534C64;
    font-size: 14px;
    font-weight: 400;
}


/* Grid Button Part */
.grid-button-container{
    max-width: 80%;
    height: 200px;
    margin: 150px auto 100px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    align-items: center;
    
    
    
}
.grid-button-container>.grid-btn{
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    color: #0B0223;
    font-size: 14px;
    font-weight: 600;
    text-align: center;

    
    
}
.grid-btn:hover{
    border: 2px solid #FF42A5;
    color: #FF42A5;
    border-radius: 30px;
    padding: 5px 10px;
}
.grid-button-container>.grid-btn>img{
    width: 35px;
    padding: 7px;
}


/* Footer Part */
.footer-container{
    max-width: 1400px;
    min-height: 400px;
    text-align: center;
    color: white;
    background-color: black;
    padding-top: 80px;

}
.footer-logo-container{
    width: 80%;
    min-height: 50px;
    margin:0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    
}
.footer-menu-container{
    width: 60%;
    margin: 0 auto;
    min-height: 50px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.footer-menu-container a{
    text-decoration: none;
    margin-right: 20px;
    color: white;
}
.footer-btn-container{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 0 auto;
    margin-bottom: 40px;
}
.footer-btn-container button{
    border: none;
    background-color: transparent;
    font-size: 30px;
    cursor: pointer;
    margin-right: 15px;
}
.footer-link-container{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}

.footer-link-container a{
    text-decoration: none;
    margin-right: 20px;
    color: rgba(255, 255, 255, 0.60);
    font-size: 12px;
    font-weight: 500;

}
.copy>p{
    color: rgba(255, 255, 255, 0.60);
    font-size: 12px;
    font-weight: 500;
    padding: 10px;

}